@import '../../../styles/settings.scss';

.btn {
	width: 90px;
	height: 40px;
	color: $magnolia;
	background-color: $marine;
	font-family: $font-family;
	border-radius: $radius;
	outline: none;
	border: none;
	font-weight: $font-weight-bold;
	&:hover {
		cursor: pointer;
	}
}
