@import '../../../styles/settings.scss';
.container {
	.plansContainer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: 2rem 0;
		height: 12rem;
		height: auto;
	}
}

@media (max-width: 776px) {
	.container {
		.plansContainer {
			flex-direction: column;
		}
	}
}
