@import '../../../styles/settings.scss';
.container {
	.content {
		padding: 1rem;
		border-radius: $radius;
		background-color: $alabaster;
		.planSummary {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			padding: 1rem;
			border-bottom: 1px solid $light-gray;
			.planName {
				color: $marine;
			}
			.btnChange {
				background-color: transparent;
				border: none;
				text-decoration: underline;
				color: $marine;
				font-family: inherit;
				display: block;
				margin-top: 0.5rem;
				&:hover {
					cursor: pointer;
					color: $purple;
				}
			}
		}
		.addOnsSummary {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			padding: 1rem;
			color: $gray;
			.addOnPrice {
				color: $marine;
			}
		}
	}
	.total {
		padding: 2rem;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		.totalCaption {
			color: $gray;
		}
		.totalAmount {
			color: $purple;
			font-weight: 700;
			font-size: 1.2rem;
		}
	}
}
