@import '../../../styles/settings.scss';

.container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 4rem;
	.header {
		color: $marine;
		margin: 1rem 0;
	}
	.finalText {
		color: $gray;
		font-weight: $font-weight-regular;
		text-align: center;
		line-height: 1.5rem;
	}
}

@media (max-width: 776px) {
	.container {
		padding: 0;
		width: 100%;

		img {
			height: 50px;
			width: 50px;
		}
		.header {
			font-size: 1.5rem;
		}
	}
}
